@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-200 text-light-200 font-mono;
  }

  body.no-scroll {
    overflow: hidden !important;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  textarea {
    resize: none;
    overflow: hidden;
  }

  button {
    @apply outline-none focus:outline-none;
  }
}

@layer utilities {

  /* HOME */
  .home {
    @apply no-scrollbar h-svh w-full overflow-y-scroll;
  }

  .description {
    @apply text-14 mb-10;
  }

  /* Pagination */
  .pagination-action {
    @apply p-2 rounded-lg hover:bg-dark-400 transition-colors;
  }

  .pagination-action>span {
    @apply flex items-center gap-2;
  }

  .pagination-action>span>p {
    @apply text-14;
  }

  /* title */
  .pagination-action>p {
    @apply text-left w-full font-semibold text-light-600 text-14 md:text-16 capitalize;
  }

  .btn-global {
    @apply transition-colors flex items-center justify-center gap-2 font-medium duration-200 min-h-[38px] sm:h-9 rounded-lg py-1 px-4 md:px-5 text-sm hover:opacity-70;
  }

  /* end Pagination */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-dark-500;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-primary;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}

.stripes.diagonal {
  @apply bg-dark-500;
  background-image: repeating-linear-gradient(45deg,
      transparent,
      transparent 2px,
      #212121 2px,
      #212121 70px);
}
