@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-dark-500;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-primary;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}

@layer base {
  body {
    @apply bg-dark-200 text-light-200;
  }
}

@layer utilities {
  .input-class {
    @apply text-16 placeholder:text-16 rounded-lg border border-gray-300 text-gray-900 placeholder:text-gray-500;
  }

  .text-10 {
    @apply text-[10px] leading-[14px];
  }

  .text-12 {
    @apply text-[12px] leading-[16px];
  }

  .text-14 {
    @apply text-[14px] leading-[20px];
  }

  .text-16 {
    @apply text-[16px] leading-[24px];
  }

  .text-18 {
    @apply text-[18px] leading-[22px];
  }

  .text-20 {
    @apply text-[20px] leading-[24px];
  }

  .text-24 {
    @apply text-[24px] leading-[30px];
  }

  .text-26 {
    @apply text-[26px] leading-[32px];
  }

  .text-30 {
    @apply text-[30px] leading-[38px];
  }

  .text-36 {
    @apply text-[36px] leading-[44px];
  }

  /* Root Layout */
  .root-layout {
    @apply flex h-16 items-center justify-between p-5 shadow-md sm:p-8 lg:hidden;
  }

  /* Mobile nav */
  .mobilenav-sheet {
    @apply flex h-[calc(100vh-72px)] flex-col justify-between overflow-y-auto custom-scrollbar;
  }

  .mobilenav-sheet_close {
    @apply flex gap-3 items-center p-4 rounded-lg w-full max-w-60;
  }

  /* HOME */
  .home {
    @apply no-scrollbar h-svh w-full overflow-y-scroll;
  }

  /* SIDEBAR */
  .sidebar {
    @apply sticky left-0 bottom-0 flex h-[calc(100vh-72px)] w-full overflow-y-auto custom-scrollbar custom-scrollbar flex-col justify-between pt-8 text-light sm:p-4;
  }

  .sidebar-logo {
    @apply 2xl:text-26 text-[26px] font-bold text-dark-100 max-lg:hidden;
  }

  .sidebar-link {
    @apply flex gap-3 py-1 md:p-3 2xl:p-4 rounded-[5px] justify-start;
  }

  .sidebar-title {
    @apply text-14 font-normal text-light-200 max-lg:hidden;
  }

  /* FORM */
  /* FORM Input */
  .input-label {
    @apply block cursor-pointer pb-1.5 font-medium text-dark/70 rtl:text-right dark:text-light/70;
  }

  .input-logo {
    @apply pl-1 absolute left-0 top-0 bottom-0 flex items-center text-xl ring-light-900;
  }

  .input {
    @apply !h-11 w-full appearance-none rounded px-2 py-2 pl-3 text-14 text-light bg-primary/10  border-[0.5px] border-dark-900;
    @apply focus:outline-none  focus:border-primary placeholder:text-dark-900 focus:border-[0.5px] md:h-12 lg:px-5 xl:h-[50px];
  }
}
